.ant-select-selection-item {
  align-items: center;

  .ant-select-selection-item-content {
    padding: 1rem 0rem 1rem 0rem;
  }
}

.ant-select-selection-item {
  margin: 5px;
}

.ant-select-selector {
  height: auto !important;
  min-height: 2.5rem;
}
